.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}
#lbtn {
    position: relative;
    width: 500px;
    margin-left: 250px;
    height: 45px;
    outline: none;
    border: 2px solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 15px;
    background-color: #61B846;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
}
#lbtn:hover{
    background-color: #024F9D;
}
.footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 300px;
    background-color: white;

}

.footer-icons{
    width: 650px;
    height: 30px;
    border: none;
}
.footer-icons .user{
    background-color: #2DB34A;
}